spring:
  security:
    user:
      name: buzz
      password: infinity
  datasource:
    generate-unique-name: false
    name: tacocloud

taco:
  orders:
    page-size: 10
  discount:
    codes:
      abcdef: 10

---
spring:
  config:
    activate:
      on-profile: prod
  datasource:
    url: jdbc:mysql://localhost:3306/tacocloud
    username: tacouser
    password: tacopassword

logging:
  level:
    tacos: WARN
---
spring:
  data:
    rest:
      base-path: /data-api
