<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>home</title>
</head>
<body>
    <h1>Welcome to home...</h1>
    <img th:src="@{/images/TacoCloud.jpg}">

    <p>
        <a th:href="@{/design}">
    <span style="font-weight: bold; font-size: large;">
      &lt;&lt;&lt; Order Now &gt;&gt;&gt;
    </span>
        </a>
        <br/><br/>
    </p>
    <a th:href="@{/orders}">View Orders</a><br/><br/>
        <br/><br/>

    <p><a th:href="@{/login}">Login</a> <span style="font-weight: bold;">or</span> <a th:href="@{/register}">registration</a></p>


</body>

</html>